.nav-link{
    margin-left: 40px;
}
.footer-links a{
    text-decoration: none;
    color: #6c757d; 
}
.end-links a{
    text-align: center;
    text-decoration: none;
    color: #6c757d;
    margin-right: 30px;
    margin-left: 20px;
}